<h2>Create a todo list again!</h2><br>
<form class="" action="/" method="post">
  The title of your todo!<br>
  <input type="text" name="title" value="" placeholder="title"><br>
  <button type="submit" name="submit">Create todo!</button>
</form>

<hr>
<h3>I need to complete these tasks</h3>
{{#data}}
{{^completedAt}}
<form class="" action="/complete/{{id}}" method="post">
{{title}}<br>
<a href="/destroy/{{id}}">Delete</a><br>
<!-- <a href="/viewtodo/{{id}}">Edit</a><br> -->
<a href="/{{id}}">Edit</a><br>
<button type="submit">Complete</button>
<br>
<br>
</form>
{{/completedAt}}
{{/data}}
<hr>
<h3>Completed tasks</h3>

{{#data}}
{{#completedAt}}
{{title}}<br>
{{/completedAt}}
{{/data}}
